@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Party!</title>
</head>
<body>
<div>
    <div>
        We are going to have an exciting party.
    </div>
    <a asp-action="RsvpForm">RSVP Now</a>
</div>
</body>
</html>
